*/.terminal
*/client.conf
*/osiris2
*/src/com/rameses/osiris3/platform/.identity
*/dist
*/distribution
*/build
*/build.xml
*/nbproject/private
*/nbproject/genfiles.properties
*/temp
*/tmp

android/*/_tmp
android/*/.settings
android/*/assets
android/*/bin
android/*/dist
android/*/build
android/*/build.xml
android/*/nbproject/private
android/*/nbproject/build-impl.xml~
android/*/nbproject/genfiles.properties
android/*/nbproject/groovy-build.xml
android/*/.terminal
android/*/Thumbs.db

android/**/bin

_tmp
_dev


/**/_tmp
/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/Thumbs.db
/**/.terminal
/projects/client/rameses-clfc2-loan/nbproject/private/
/projects/client/rameses-clfc2-loan/dist/
/projects/client/rameses-clfc2-loan/build/
/projects/client/rameses-clfc-loan/dist/
/projects/client/rameses-clfc-loan/nbproject/private/
/projects/client/rameses-clfc-customer/nbproject/private/
/projects/client/rameses-clfc-datamgmt/nbproject/private/
/projects/client/rameses-clfc-customer/dist/
/projects/client/rameses-clfc-datamgmt/dist/
/projects/client/rameses-clfc-main/dist/